<%- include('partialHeader'); %>

<section id="intro">
  <div class="nav-bar">
    <div class="logo-img">
      <img src="/images/logo-small.webp" alt="best homeopathy doctor in kolkata" />
    </div>

    <div class="logo">
      <h1>Dr. Saha's Multispeciality</h1>
      <h1>Homeopathy & Cosmetology</h1>
    </div>

    <form action="/" method="post" class="nav-form">
      <ul class="nav-list">
        <button type="submit" name="page" value="home" class="nav-items active">
          <h3>Home</h3>
        </button>

        <button type="submit" name="page" value="about" class="nav-items">
          <h3>About us</h3>
        </button>

        <div type="button" class="nav-items treatment">
          <h3>Treatment</h3>
          <div class="blog-dropdown dropDown" style="top: 3.25rem; left: 10px; min-height: 12.5rem;">
            <button type="button" name="page" style="width: 12rem">
              <div class="option-container">
                <p><a href="/treatment/hairloss" style="color: white;">Hairloss</a></p>
              </div>
            </button>

            <button type="button" name="page" style="width: 12rem">
              <div class="option-container">
                <p><a href="/treatment/hairregrowth" style="color: white;">Hair Regrowth</a></p>
              </div>
            </button>

            <button type="button" name="page" style="width: 12rem">
              <div class="option-container">
                <p><a href="/treatment/malesexual" style="color: white;">Male Sexual</a></p>
              </div>
            </button>

            <button type="button" name="page" style="width: 12rem">
              <div class="option-container">
                <p><a href="/treatment/gastrictrouble" style="color: white;">Gastric Trouble</a></p>
              </div>
            </button>

            <button type="button" name="page" style="width: 12rem">
              <div class="option-container">
                <p><a href="/treatment/pcos" style="color: white;">PCOS</a></p>
              </div>
            </button>
          </div>
        </div>

        <button type="submit" name="page" value="homeopathy" class="nav-items">
          <h3>Homeopathy</h3>
        </button>

        <button type="submit" name="page" value="bookOnline" class="nav-items">
          <h3>Book Appointment</h3>
        </button>

        <div type="button" class="nav-items check-us">
          <h3>Gallery</h3>
          <div class="blog-dropdown dropDown">
            <button type="submit" name="page" value="images">
              <div class="option-container">
                <p>Images</p>
              </div>
            </button>

            <button type="submit" name="page" value="videos">
              <div class="option-container">
                <p>Videos</p>
              </div>
            </button>
          </div>
        </div>

        <button type="submit" name="page" value="media" class="nav-items">
          <h3>Media Coverage</h3>
        </button>

        <div type="button" class="nav-items blog">
          <h3>Blog</h3>
          <div class="blog-dropdown dropDown">
            <button type="submit" name="page" value="blogGeneric">
              <div class="option-container">
                <p>Generic</p>
              </div>
            </button>
            <button type="submit" name="page" value="blogDoctorSpeaks">
              <div class="option-container">
                <p>Doctor Speaks</p>
              </div>
            </button>
          </div>
        </div>

        <button type="submit" name="page" value="contact" class="nav-items">
          <h3>Contact us</h3>
        </button>
      </ul>
    </form>

    <div class="sidebar-menu">
      <i class="fa-solid fa-bars"></i>
    </div>

  </div>
</section>

<form action="/" method="post" class="nav-form-sidebar">

  <div class="close-mark">
    <div class="sidebar-header">
      <img src="/images/logo-small.webp" alt="best homeopathy doctor in kolkata" />
      <div class="heading">
        <h5>Dr. Saha's Multispeciality</h5>
        <h5>Homeopathy & Cosmetology</h5>
      </div>
    </div>
    <i class="fa-solid fa-xmark"></i>
  </div>

  <ul class="nav-list-sidebar">

    <button type="submit" name="page" value="home" class="nav-items active">
      <h3>Home</h3>
    </button>

    <button type="submit" name="page" value="about" class="nav-items about">
      <h3>About us</h3>
    </button>

    <div type="button" class="nav-items treatment">
      <h3 style="text-align: center;">Treatment</h3>
      <div class="blog-dropdown dropDown" style="top: 3.25rem; min-height: 12.5rem;">
        <button type="button" name="page">
          <div class="option-container">
            <p><a href="/treatment/hairloss" style="color: white;">Hairloss</a></p>
          </div>
        </button>

        <button type="button" name="page">
          <div class="option-container">
            <p><a href="/treatment/hairregrowth" style="color: white;">Hair Regrowth</a></p>
          </div>
        </button>

        <button type="button" name="page">
          <div class="option-container">
            <p><a href="/treatment/malesexual" style="color: white;">Male Sexual</a></p>
          </div>
        </button>

        <button type="button" name="page">
          <div class="option-container">
            <p><a href="/treatment/gastrictrouble" style="color: white;">Gastric Trouble</a></p>
          </div>
        </button>

        <button type="button" name="page">
          <div class="option-container">
            <p><a href="/treatment/pcos" style="color: white;">PCOS</a></p>
          </div>
        </button>
      </div>
    </div>

    <button type="submit" name="page" value="homeopathy" class="nav-items">
      <h3>Homeopathy</h3>
    </button>

    <button type="submit" name="page" value="bookOnline" class="nav-items">
      <h3>Book Appointment</h3>
    </button>

    <div type="button" class="nav-items check-us">
      <h3 style="text-align: center;">Gallery</h3>
      <div class="blog-dropdown dropDown">
        <button type="submit" name="page" value="images">
          <div class="option-container">
            <p>Images</p>
          </div>

        </button>
        <button type="submit" name="page" value="videos">
          <div class="option-container">
            <p>Videos</p>
          </div>
        </button>
      </div>
    </div>

    <button type="submit" name="page" value="media" class="nav-items">
      <h3>Media Coverage</h3>
    </button>

    <div type="button" class="nav-items blog">
      <h3>Blog</h3>
      <div class="blog-dropdown dropDown">
        <button type="submit" name="page" value="blogGeneric">
          <div class="option-container">
            <p>Generic</p>
          </div>

        </button>
        <button type="submit" name="page" value="blogDoctorSpeaks">
          <div class="option-container">
            <p>Doctor Speaks</p>
          </div>
        </button>
      </div>
    </div>

    <button type="submit" name="page" value="contact" class="nav-items">
      <h3>Contact us</h3>
    </button>

  </ul>
</form>

<section id="history">
  <div class="gen-container">
    <h1>70 years of Homeopathic Legacy, Since 1951</h1>
    <div class="gen-inner">
      <div class="gen-pics">
        <img src="/images/SLKS_Gen-Pics.webp" alt="gen pic" />
        <div class="gen-info">
          <p>Dr. Sailendra Kr. Saha</p>
          <p>1st Generation</p>
          <p>MD, DMS</p>
          <p>1951 to 1980</p>
        </div>
      </div>

      <div class="gen-pics">
        <img src="/images/SKS_Gen-Pics.webp" alt="gen pic" />
        <div class="gen-info">
          <p>Dr. Sisirendra Kr. Saha</p>
          <p>2nd Generation</p>
          <p>DMS, CAL</p>
          <p>1980 to 2011</p>
        </div>
      </div>

      <div class="gen-pics">
        <img src="/images/SDS_Gen-Pics.webp" alt="gen pic" />
        <div class="gen-info">
          <p>Dr.Snigdhodip Saha</p>
          <p>3rd Generation running</p>
          <p>FMC (Germany), CERT ACP & NMT (Spain), BHMS</p>
          <p>2011 to Present</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="services-container">
    <h1>Services we provide</h1>
    <div class="services-list">
      <div class="cosmetology">
        <h2>Cosmetology</h2>
        <div class="cosmo-service">
          <p><span>✔</span> Computerised hair & scalp testing</p>
          <p><span>✔</span> Laser hairfall control treatment</p>
          <p><span>✔</span> Dermastamp hair regrowth treatment</p>
          <p><span>✔</span> Dermastamp skin brightening treatment</p>
          <p><span>✔</span> Phototherapy for psoriasis & vitiligo</p>
        </div>
      </div>

      <div class="homeopathy">
        <h2>Homeopathy</h2>
        <div class="homeo-service">
          <p>
            <span>✔</span> Classical Homeopathy treatment for all type of acute
            & chronic diseases
          </p>
        </div>
      </div>
    </div>
    <div class="service-modal">
      <div class="usp-btn" type="button" data-bs-toggle="modal" data-bs-target="#uspModal">
        <h4>Our USP</h4>
      </div>

      <div class="modal fade" id="uspModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="uspModal">
                The reason we stand out from our competitors!
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <ul class="usp-modal-content">
                <li>
                  <p>
                    🏆 Ranked # 1 Homeopathy Clinic In Kolkata By Google (2022)
                  </p>
                </li>
                <li>
                  <p>
                    🏆 Awarded “Best Homeopathy Doctor In Kolkata” By Brand Icon
                    (2019)
                  </p>
                </li>
                <li>
                  <p>💊 Treatment By German Medicines</p>
                </li>
                <li>
                  <p>❌ We don't provide any package system</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="message-us-btn">
        <h4><a href="/contact" style="color: white;">Message us</a></h4>
      </div>
    </div>
  </div>
</section>

<section id="treatment-cards">
  <div class="cards-header">
    <h1>We Treat More Than 100 + Diseases</h1>
  </div>
  <div class="cards-inner">
    <div class="cards-container">
      <div id="carouselCards" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <div class="card text-bg-light">
                <div class="card-header">
                  <h3>Hair</h3>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      <p><span>✔</span> Hair Loss</p>
                    </li>
                    <li>
                      <p><span>✔</span> Hair Regrowth</p>
                    </li>
                    <li>
                      <p><span>✔</span> Pattern Baldness</p>
                    </li>
                    <li>
                      <p><span>✔</span> Alopecia</p>
                    </li>
                    <li>
                      <p><span>✔</span> Dandruff</p>
                    </li>
                    <li>
                      <p><span>✔</span> Folliculitis</p>
                    </li>
                  </ul>
                  <img src="/images/hair_Small-transparent.webp" alt="hair transplant" />
                </div>
              </div>

              <div class="card text-bg-light">
                <div class="card-header">
                  <h3>Skin</h3>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      <p><span>✔</span> Acne</p>
                    </li>
                    <li>
                      <p><span>✔</span> Rosacea</p>
                    </li>
                    <li>
                      <p><span>✔</span> Dermatitis</p>
                    </li>
                    <li>
                      <p><span>✔</span> Eczema</p>
                    </li>
                    <li>
                      <p><span>✔</span> Urticaria</p>
                    </li>
                    <li>
                      <p><span>✔</span> Herpes</p>
                    </li>
                  </ul>
                  <img src="/images/skin_Small-transparent.webp" alt="hair transplant" />
                </div>
              </div>

              <div class="card text-bg-light">
                <div class="card-header">
                  <h3>Auto Immune</h3>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      <p><span>✔</span> Psoriasis</p>
                    </li>
                    <li>
                      <p><span>✔</span> Vitiligi</p>
                    </li>
                    <li>
                      <p><span>✔</span> Rheumatoid Arthritis</p>
                    </li>
                    <li>
                      <p><span>✔</span> Type 1 Diabetes</p>
                    </li>
                    <li>
                      <p><span>✔</span> Osteoarthritis</p>
                    </li>
                    <li>
                      <p><span>✔</span> SLE</p>
                    </li>
                  </ul>
                  <img src="/images/Autoimmune.webp" alt="hair transplant" />
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card text-bg-light">
                <div class="card-header">
                  <h3>Male</h3>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      <p><span>✔</span> Erectile Dysfunction</p>
                    </li>
                    <li>
                      <p><span>✔</span> Premature Ejaculation</p>
                    </li>
                    <li>
                      <p><span>✔</span> Prostatomegaly</p>
                    </li>
                    <li>
                      <p><span>✔</span> Impotency</p>
                    </li>
                    <li>
                      <p><span>✔</span> Hydrocele</p>
                    </li>
                    <li>
                      <p><span>✔</span> Orchitis</p>
                    </li>
                  </ul>
                  <img src="/images/Male_Small-transparent.webp" alt="hair transplant" />
                </div>
              </div>

              <div class="card text-bg-light">
                <div class="card-header">
                  <h3>Female</h3>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      <p><span>✔</span> Pcod</p>
                    </li>
                    <li>
                      <p><span>✔</span> Fibroid</p>
                    </li>
                    <li>
                      <p><span>✔</span> Irregular Mens</p>
                    </li>
                    <li>
                      <p><span>✔</span> Endometriosis</p>
                    </li>
                    <li>
                      <p><span>✔</span> Leucorrhea</p>
                    </li>
                    <li>
                      <p><span>✔</span> Dysmenorrhea</p>
                    </li>
                  </ul>
                  <img src="/images/Female_Small-transparent.webp" alt="hair transplant" />
                </div>
              </div>

              <div class="card text-bg-light">
                <div class="card-header">
                  <h3>Gastroentorology</h3>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li>
                      <p><span>✔</span> Gastric</p>
                    </li>
                    <li>
                      <p><span>✔</span> Acidity</p>
                    </li>
                    <li>
                      <p><span>✔</span> Fatty Lever</p>
                    </li>
                    <li>
                      <p><span>✔</span> Constipation</p>
                    </li>
                    <li>
                      <p><span>✔</span> Piles</p>
                    </li>
                    <li>
                      <p><span>✔</span> IBS</p>
                    </li>
                  </ul>
                  <img src="/images/Gas_Small-transparent.webp" alt="hair transplant" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="usp-btn consultNow-btn">
      <h4><a href="/appointmentbooking" style="color: white;">Consult Now</a></h4>
    </div>
  </div>
</section>

<section id="testimonials">
  <div class="testimony-header">
    <h1>Testimonials</h1>
  </div>
  <div class="testimony-inner">
    <div id="testimonyIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="2"></button>

        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="3"></button>

        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="4"></button>

        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="5"></button>

        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="6"></button>

        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="7"></button>

        <button type="button" data-bs-target="#testimonyIndicators" data-bs-slide-to="8"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Rituka-Dey.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "#1 homeopathy doctor (and my family has been to many trust
                  me). A major prop to Snigdhodip sir and his team"
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Rituka Dey</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Sreeparna-Das.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "My PCOD problem got cured and this a right place to be if you
                  are suffering from hair fall problem or any type of skin
                  problem. Very very helpful. The doctor happens to be very
                  approachable and empathetic too."
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Sreeparna Das</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Jayna-Vora.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "Seeing just how effective homeopathy can be has really
                  changed a lot of my perceptions and beliefs. I now take almost
                  all of my family members to Dr.SnigdhodipSaha for a range of
                  ailments"
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Jayna Vora</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Indrani-Sarkar.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "He is one of the best doctors of Kolkata who treat you well
                  with not the laser treatment. The hair regrowth procedure
                  really works. Have tried it as well. Great results."
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Indrani Sarkar</p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Ankit-Singh-Gosain.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "Indeed best doctor I have ever come accross.. His medicine
                  works better than allopathy with quick response"
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Ankit Singh Gosain</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Papai-Adhikary.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "Dr.Saha is friendly. He listens to his patients and takes
                  time in every appointment. I had a good experience with him.
                  Would rank his clinic as the best homeopathy clinic in
                  Kolkata."
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Papai Adhikary</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Sanu-Barui.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "Truly a world class clinic with good facilities and friendly
                  staff members. I take my father here for gastroenterology
                  problems. We are happy with the treatment. Always a pleasure
                  visiting and talking to Dr.SnigdhodipSaha. He has a calm
                  presence and reassuring demean our that puts patients at ease
                  and comfort. Love"
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Sanu Barui</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Rohan-Bhattacharya.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "It's great indeed .....Dr.Saha is one of greatest doctor I
                  have ever met...He is treating the petient by homeopathic
                  treatment. Gives time to hear all the necessary details from
                  the petient online or offline .... Charges are nominal ...
                  It's in Kasba , Kolkata. Exactly opposite Chittaranjan School
                  for Girls, Kasba."
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Rohan Bhattachariya</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimony-container">
            <div class="testimony-img">
              <img src="/images/Shubhanu-Majumder.webp" alt="testimonial" />
            </div>

            <div class="testimony-text">
              <p>
                <em>
                  "healthy growth have been seen on my hair treatment.
                  continuing my treatment. Thanks everyone! Became almost bald..
                  went to many places but it didn't help my Condition But after
                  I visited Dr sahasmultispeciality there was a complete
                  change.. my hairfall stopped and also regained 50% of my hair
                  I will always be gratefull to doctor for curing my condition
                  and the hospitality"
                </em>
              </p>
            </div>

            <ul class="testimony-rating">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>

            <div class="testimony-name">
              <p>Shubhanu Majumder</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonyIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonyIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section id="blogs">

  <div class="blogs-heading">
    <h1>Blog Posts</h1>
  </div>

  <form action="/blog" method="post">

    <%for(var i = 0; i<3; i++){%>

    <button type="submit" name="blogPost" value=<%=datas[i].title%>>
      <div class="post blog-post-home">
        <img class="post-img post-img-home" src=<%=datas[i].image%> alt="gas problem blog" />
      </div>

      <div class="post-info post-info-home">
        <div class="post-head">
          <h5><%=datas[i].title%></h5>
        </div>
        <div class="post-text">
          <p><%=datas[i].body%></p>
        </div>

        <div class="post-date">
          <p><i class="fa-solid fa-calendar"></i> <%=datas[i].date%></p>
        </div>
      </div>
    </button>

    <%}%>

</form>

</section>


<section id="online-consult">

  <div class="online-consult-container">

  <div class="consult-text">
    <h2>Skip The Travel!</h2>
    <h1>Book Online Consultion</h1>
  </div>
  
  <div class="online-consult-btn">
    <div class="usp-btn consultNow-btn">
      <h4><a href="/appointmentbooking" style="color: white;">Consult Now</a></h4>
    </div>
  </div>

  </div>

</section>


<section id="seo">

  <div class="seo-container">

  <div class="seo-heading">
    <h1>People also search us for:</h1>
    <h4>Best homeopathy doctor in kolkata</h4>
  </div>

  <div class="seo-text">
    <ul class="seo-list">
      <li>
        <p><span>✔</span> For Hair</p>
      </li>
      <li>
        <p><span>✔</span> For Skin</p>
      </li>
      <li>
        <p><span>✔</span> For PCOD</p>
      </li>
      <li>
        <p><span>✔</span> For Sexology</p>
      </li>
      <li>
        <p><span>✔</span> For Gastro</p>
      </li>
      <li>
        <p><span>✔</span> For Liver</p>
      </li>
      <li>
        <p><span>✔</span> For Allergy</p>
      </li>
      <li>
        <p><span>✔</span> For Piles</p>
      </li>
      <li>
        <p><span>✔</span> For Vitiligo</p>
      </li>
      <li>
        <p><span>✔</span> For Psoriasis</p>
      </li>
      <li>
        <p><span>✔</span> For Autism</p>
      </li>
      <li>
        <p><span>✔</span> For Chronic Diseases</p>
      </li>
    </ul>
  </div>

</div>
</section>


<%- include('footer'); %>